<img class="git-search-logo" src="<%= Routes.static_path(@socket, "/images/git_search.png") %>" alt="Git Search"/>

<form phx-change="search" class="git-search-input">
  <input type="text" name="q" value="<%= @query %>" placeholder="Live search GitHub Repositories..." list="results" autocomplete="off"/>
</form>

<%= inspect(@results) %>
